[2021-02-08 09:21] nspaeth opened #3 "How are you meant to display custom errors?"
Based on this function it seems that this is either not possible, or not ergonomic: https://github.com/dohomi/react-hook-form-mui/blob/c788fab31a66c982a7befe117da28b6de2a3c19c/src/helpers/getErrorMessages.ts#L3-L11

It seems like the `message` field should be returned by default, not the `type` field. Or, at least, the whole error should be passed to the `parseError` so that a function can be prov

[2021-02-08 09:31] dohomi commented on #3
@nspaeth thanks for your input. I created parseError to make error messages translatable:
[code]

[2021-02-08 18:13] nspaeth commented on #3
Okay, I can see how this would be useful for that but it would be nice if this were configurable, e.g., by allowing `parseError` to define all of that logic. For example, I might want to do my internationlization in my validator and then use Yup's `setLocale`:

[code]
If the API were changed so that the logic of `getErrorMessages` was inside of `parseError` it would be more flexible, allowing deve

[2021-02-09 10:28] dohomi commented on #3
I am happy to check a PR if you have time for it. Currently I am pretty busy but will try to make time for it.

[2021-05-23 06:29] dohomi commented on #3
@nspaeth I reworked the entire lib and raised now v1.1.x
`parseError` receives now the `FieldError` which should make everything more customizable. Closing this for now let me know if something is not working as expected.

[2021-05-23 06:29] #3 closed

[2021-05-26 22:06] nspaeth commented on #3
Excellent, I'll update and see how it goes.

[2021-06-06 19:54] ajoslin103 opened #8 "Can not find utils in context [workaround]"
This is great work, and coming in at Just The Right Time (!!) as I struggle with using Material UI with react-hook-forms !

So I'm trying to use your DatePickerElement, and I get the error: `Can not find utils in context`

Looking thru your stories and files I see that your DatePickerElement seems to depend on being wrapped in your DateDayjsProvider (which you don't export for me to use...)

So I

[2021-06-06 20:04] ajoslin103 opened #9 "[Feature Request] Add Autocomplete component and introduce example of async call"
I don't know if you can do this...

Please consider somehow integrating https://www.npmjs.com/package/react-places-autocomplete, or: https://www.npmjs.com/package/material-ui-autocomplete-google-places,

I struggled through many different versions before finding one I could get working. (and it does work quite well once you get it going) The one I got working is a bit of a mess, I know you could d

[2021-06-08 01:34] dohomi commented on #9
@ajoslin103 integrating `Autocomplete` is currently on low priority I will see if I find time for it. I currently don't need it myself and I am pretty backed up with work.

[2021-06-08 01:37] dohomi commented on #8
I don't provide a date provider for the picker myself. The main issue is that v1 was not able to code split correctly.

Just wrap your form with `MuiPickersUtilsProvider`and you are ready to go. I realized that Dayjs is not as stable as date-fns but its up to you.
Follow this guide to wrap the form with your provider: https://material-ui-pickers.dev/localization/date-fns

[2021-06-08 01:39] ajoslin103 commented on #8
thanks !!  you are doing great work !!

If I go back and re-wrap I'll post it here for others to find

[2021-06-08 01:40] ajoslin103 commented on #9
I understand!

There aren't enough cycles in the day !!

You are doing so much for me, if I can make it work I'll contribute it

[2021-06-08 01:55] dohomi commented on #8
I updated the Storybook to showcase both Providers. https://github.com/dohomi/react-hook-form-mui#with-datepicker
Hope this helps thanks for pointing me at it.

[2021-06-08 01:55] #8 closed

[2021-06-12 19:51] ajoslin103 opened #10 "I need Value Formatting & Validation"
Hi,

I need Value Formatting & Validation

If they don't work already somehow I'll try to add them and submit a PR

thanks

[2021-06-13 09:27] dohomi commented on #10
@ajoslin103 validation is built in. the `required` prop works out of the box, anything more complex you can drop in with the `validation` prop which is https://github.com/dohomi/react-hook-form-mui/blob/master/src/TextFieldElement.tsx#L7 same as the `rules` prop. I might should rename `validation` => `rules` or create an alias

[2021-06-13 09:28] dohomi commented on #10
You can use your own `onChange` handler for formatting or you can pass other Material-UI change handler.

[2021-06-13 11:22] ajoslin103 commented on #10
Thanks for your replies, I appreciate your time!

I've been drilling into the code starting with yours and tracing types and can't figure out how to use validation to call a function.

I have figured out how to use the inputProps to add an onChange, but I can't figure out how to change the value in the form.  Using the InputProps to add an onChange worked to change the value in the form, but then

[2021-06-14 03:14] dohomi commented on #10
Here is a huge collection of examples:
https://github.com/react-hook-form/react-hook-form/tree/master/examples
You can set `validation` prop which is the same as `rules` of react-hook-form. I hope you find an example which suits your usecase

[2021-06-14 11:33] ajoslin103 commented on #10
thanks for the pointer - I'll suss it out

[2021-07-07 12:57] ajoslin103 opened #11 "How do I access FormContainer().formContext ?"
How can I get to the formContext of FormContainer ?

I want to programmatically disable the Form Submit button until the user has entered 2 of 3 fields (name is required, plus one of: email or phone number)

All of the examples at react-hook-form use formContext and I can't figure out how to access formContext before the submit handler is called.

[2021-07-08 02:26] dohomi commented on #11
@ajoslin103 can you share your code? You simply need to create a sub component inside of the <FormContainer/> where you use the react-hook-form context hook and all the functionality of react-hook-form applies

[2021-07-08 12:11] ajoslin103 commented on #11
Thank You for your time --

I need this form to only enable the submit button when the name AND ( phone OR email ) has been filled out

I tried creating a sub component to 'useForm' -- but I still must be doing something wrong

[code]

subcomponent

[code]

[2021-07-09 05:07] dohomi commented on #11
@ajoslin103 your code is not right, you should either use `useFormContext` or `useWatch` from react-hook-form. Here is a simple example for what you trying to archive:
https://github.com/dohomi/react-hook-form-mui/blob/master/stories/FormContainer.stories.tsx#L18

[2021-07-10 15:27] ajoslin103 commented on #11
Thanks!

This worked great !!

(I'll have to study, later when I get 2 minutes to rub together, to determine why mine didn't work)

[2021-07-10 15:27] #11 closed

[2021-07-13 17:59] ajoslin103 commented on #10
working!!

[2021-07-13 17:59] #10 closed

[2021-07-13 19:16] ajoslin103 opened #12 "DatePicker problem 1st usage only"
The 1st time the DatePicker is used it returns the date BEFORE the selected date

In your Storybook demo - choose default Date Picker and choose a date in next week

The result is the day before the selected date

Do it again (without reloading the page) and it works as expected

Reload the page, repeat the problem

[2021-08-11 04:47] dohomi commented on #12
should be fixed in the demo

[2021-08-11 04:47] #12 closed

[2021-08-12 16:12] nspaeth opened #14 "Why does the package have peer dependencies of both `date-fns` and `@date-io/date-fns`, and why different versions?"
https://github.com/dohomi/react-hook-form-mui/blob/5b0597f80b72566f86e02605d52ad65011cb706e/package.json#L34
https://github.com/dohomi/react-hook-form-mui/blob/5b0597f80b72566f86e02605d52ad65011cb706e/package.json#L39

Is this needed for some reason?
npm seems to have trouble resolving these dependencies for me because of conflicting versions and I keep having to use `--force`.

[2021-08-13 01:12] dohomi commented on #14
@nspaeth yes this is required if you use a datepicker in your forms. if not you can simply ignore it. Instead of using --force you can always use `--legacy-peer-deps` The v4 of Material-UI depends on this 2 date libraries. In the future in v5 this might be handled differently

[2021-08-13 01:12] #14 closed

[2021-09-01 16:46] masnatacion opened #16 "RadioButtonGroup row={true}"
hi guys

how can i set in row the radios? i think with other param called row!

greetings

[2021-09-15 12:24] ajoslin103 opened #18 "How to disable Submit on Enter key"
I had a problem where the Enter/Return key is causing a submit -- I'm placing a solution here in case others come looking.

This discussion offered some hints on how to prevent such behavior: https://github.com/react-hook-form/react-hook-form/discussions/2549

I had to set the onKey into a div inside the FormContainer

[code]

[2021-09-15 12:24] ajoslin103 commented on #18
Thanks for react-hook-form-mui - it works really well for me

[2021-09-15 12:24] #18 closed

[2022-01-13 15:27] ChambreNoire opened #21 "Manually typing date into DatePicker causes exception"
I assumed that I was doing something wrong but the same thing happens in the Storybook examples...

Uncaught RangeError: Invalid time value
    at Date.toISOString (<anonymous>)
    at onChange (react-form-hook-mui.esm.js:1)
    at Object.handleChange [as onChange] (useMaskedInput.js:60)
    at rifm.esm.js:131
    at commitHookEffectListMount (react-dom.development.js:20573)
    at commitLifeCycle

[2022-01-14 08:47] ChambreNoire commented on #21
@dohomi Strange, I have never had any issues when using this component "manually" and, as I mentioned, the same issue also affects your Storyboard for this component (at https://react-hook-form-material-ui.vercel.app/?path=/story/datepickerelement--basic). I really don't want to have to rewrite all my forms!. I'll keep digging...

[2022-01-14 09:10] dohomi commented on #21
@ChambreNoire I honestly never realised that.. maybe the best would be to prevent typing into the input field? Let me know if you find something or submit a PR

[2022-02-21 11:08] TkaczykAdam opened #26 "[Feature Request] Add Switch component support"
There is no support for [Swtich](https://mui.com/components/switches/) component.

It shouldn't be so hard to implement that. I can try to do it tomorrow (UTC+1).

Btw. Good job, this package is simple and reduces a lot of boilerplate code :+1:

[2022-02-22 00:18] dohomi commented on #26
@TkaczykAdam thanks I am looking forward for your PR

[2022-02-23 03:00] dohomi commented on #21
I upgraded the code and add the possibility to type into the input field. it needs a parseDate function to properly adjust the value into a field value.

[2022-02-23 03:00] #21 closed

[2022-02-23 03:01] dohomi commented on #26
available from v3.1

[2022-02-23 03:01] #26 closed

[2022-03-14 16:38] jlgalarza3 opened #28 "onError"
FormContainer has the onSuccess prop.
What would be the prop to handle form errors?
Is there something like this?
`<FormContainer `
`onError(()=> console.log("This is an error"));`
`></FormContainer>`

[2022-03-15 01:01] dohomi commented on #28
If you are using `FormContainer` then you can create a child component and handle the error for example via `useFormState` function of `react-hook-form`.

[2022-03-15 03:11] #28 closed

[2022-03-30 17:55] revmischa opened #29 "peer @mui/lab@">= 5.x <6" from react-hook-form-mui@3.1.3"
[code]

Not sure I understand why this version isn't satisfied

Using npm v8

[2022-03-31 03:13] dohomi commented on #29
Did you install `@mui/lab` dependency?

[2022-03-31 08:58] revmischa commented on #29
Sure we have:
[code]

[2022-03-31 13:36] dohomi commented on #29
I don't know how the peerDependency has to be written to solve this. If you find out let me know and I can adjust the peer

[2022-04-06 07:48] dohomi commented on #29
should be fixed with latest release

[2022-04-06 07:48] #29 closed

[2022-05-05 10:23] hunghsing opened #35 "[Feature Request] Add size prop support to CheckboxElement"
Hello,

Could you please add the **size** property support to th CheckboxElement ? Because i would like to use the **size** prop to customize the font size of the svg icons to change the size of the checkboxes sometimes.

Please refer to [https://mui.com/material-ui/react-checkbox/#size](https://mui.com/material-ui/react-checkbox/#size)

[2022-05-05 10:34] #35 closed

[2022-05-06 17:16] AntalyanGriffin commented on #9
Autocomplete would be incredibly useful; I couldn't use this otherwise great project for my form because of not supporting Autocomplete which I needed :/

[2022-05-06 17:17] AntalyanGriffin opened #36 "PasswordRepeat"
A core example [here ](https://react-hook-form-material-ui.vercel.app/?path=/docs/textfieldelement--core )mentions PasswordRepeat but nothing like that exists in the Storybook.

In fact, the solution is adding this piece of code from src to Storybook source code preview:
const PasswordRepeat: FunctionComponent = () => {
  const { getValues } = useFormContext()
  return (
    <PasswordElement margi

[2022-05-09 03:15] dohomi commented on #36
@AntalyanGriffin the reference is this:
https://github.com/dohomi/react-hook-form-mui/blob/master/stories/TextFieldElement.stories.tsx#L35
It kind of depends on how you use this library. Since later versions of `react hook form` you can also use the `useWatch` hook to listen to changes of the password element.

[2022-05-17 08:19] TomFreudenberg opened #37 "Release information and tags"
Dear Dominic @dohomi

thanks providing this component and your effort on it.

Could you please establish a way to describe changes that were included in new releases and tag them?

Currently on npmjs there is version 3.3.0 but I can't get from what sources you have built that. What it be possible for you to tag the branch on releasing an write some short "changes".

I am pretty sure that would be

[2022-05-17 22:21] #37 closed

[2022-05-17 23:44] dohomi commented on #36
Resolved since v3.5.0 with `PasswordRepeatElement`

[2022-05-17 23:44] #36 closed

[2022-05-18 03:44] TomFreudenberg commented on #37
Thanks for updating @dohomi and @TimMikeladze

[2022-05-18 04:24] TomFreudenberg opened #40 "Storybook is not working anymore since 3.5.0"
Hi @dohomi

your latest release 3.5.0 does break building our storybook. Using 3.4.0 all is working as expected.

This is the error log:

[code]

This is my package.json

[code]

I am using 3.4.0 instead currently again to continue our development

[2022-05-18 04:41] TomFreudenberg opened #41 "Feature: Giving some props to InputAdornment"
Hi @dohomi

would it be possible to allow controlling the InputAdornment of PasswordElement(s)

https://github.com/dohomi/react-hook-form-mui/blob/master/src/PasswordElement.tsx#L16

It would be great to control optionally **position** and **color** of the VisibilityIcons

Thanks for your suggestion, I am able to prepare a PR if you like

Cheers
Tom

[2022-05-18 07:32] TkaczykAdam opened #42 "Cannot set 0 in `SelectElement`"
The problem is here, 0 is a falsy value.The nullish coalescing operator (`??`) here fixed my issue.
https://github.com/dohomi/react-hook-form-mui/blob/46ffb5ca9f8cac21f1890d7f70d2e8678dd070f3/src/SelectElement.tsx#L53

[2022-05-18 07:37] dohomi commented on #41
@TomFreudenberg I am open for any PR 👍

[2022-05-18 07:53] dohomi commented on #42
@TkaczykAdam I will deploy a fix for it. Never bumped into this :-)

[2022-05-18 07:54] dohomi commented on #40
@TomFreudenberg I swop `microbundle` for `tsup` in hope of having faster deploys and more fun while coding. But I will revert the changes for now and see if that fixes the issue. I would still like to investigate what is going wrong with using `tsup`

[2022-05-18 07:56] TomFreudenberg commented on #40
For sure - as I can help let me know

[2022-05-18 08:12] dohomi commented on #40
@TomFreudenberg I just updated 3.5.1 - its still with `tsup` I am just curious if it works now?

[2022-05-18 08:18] #42 closed

[2022-05-18 08:19] TomFreudenberg commented on #40
@dohomi Dominic, I am sorry but error stil the same issue with 3.5.1

You may signal me and I use master branch - so you don't need to update the release always

[2022-05-18 08:20] dohomi commented on #40
Can you make sure that all `peerDependenyies` are set?
[code]
This might mean that `npm i @mui/icons-material` is missing?

[2022-05-18 08:35] dohomi commented on #40
@TomFreudenberg can you try 3.5.2? I changed the tsup command to legacy, in my own project its working now.

[2022-05-18 08:41] dohomi commented on #40
awesome!

[2022-05-18 08:41] #40 closed

[2022-05-18 08:42] TimMikeladze opened #44 "Run tests in repo"
There is a folder that includes tests but there is no test runner like jest or integration with storybook. I suspect the tests were being ran locally with some ignored folder based on the imports they are using `import { FormContainer, MultiSelectElement } from '../_unused'`.

@dohomi can you provide some additional details around your testing strategy?

[2022-05-18 08:45] dohomi commented on #44
@TimMikeladze I use Storybook and wanted to set up `Chromatic` for UI regression tests. I am open for any other suggestions.

[2022-05-18 08:47] TimMikeladze opened #45 "Remove `src` from `files` in `package.json`"
[code]

Including `src` will result in these files being included in npm package. There are currently 20 files added to the npm package (according to https://www.npmjs.com/package/react-hook-form-mui) when in reality there should only be 3. (.js, .mjs, d.ts).

[2022-05-18 08:48] dohomi commented on #45
True, will do this with the next patch release

[2022-05-18 10:09] dohomi commented on #45
fixed in latest release

[2022-05-18 10:09] #45 closed

[2022-05-18 11:45] dohomi commented on #41
#46 is closing it for now thanks for the contribution

[2022-05-18 11:45] #41 closed

[2022-05-18 11:45] dohomi commented on #44
Probably Vitest would be a good repo to run test on it. I also thought of moving to Docz for better documentation on the components.

[2022-05-20 12:17] TimMikeladze opened #47 "Failing github workflow"
Looks like there are two github workflows in this repo:

one of them is passing and this one is failing https://github.com/dohomi/react-hook-form-mui/blob/master/.github/workflows/main.yml

Both of these workflows achieve the same results albeit with slight variations in their commands.

@dohomi What is the reasoning for having two?

[2022-05-21 05:56] dohomi commented on #47
I honestly just merged the PR from you, I haven't really observed it in any detail. Could you have a look whats going on with it? Maybe there was some automerge of Github which leads to two separate ones.

[2022-05-22 02:09] #47 closed

[2022-05-31 12:33] HubertMezyk opened #49 "Props disabled does not work on CheckboxElement."
When I set disabled = {true} `Checkbox` is still active.

[2022-05-31 23:58] dohomi commented on #49
@HubertMezyk I never used the disabled checkbox prop. Any PR is welcome

[2022-06-02 08:46] HubertMezyk commented on #49
I created a PR with the addition of props `disabled`.

[2022-06-07 09:43] bryantobing12 commented on #9
async autocomplete is all I needed but I still can't find the proper way to do this. :(

[2022-06-08 01:03] dohomi commented on #49
3.5.7 should make this possible

[2022-06-08 01:03] #49 closed

[2022-06-15 16:05] sonusindhu opened #52 "onChange doesn't fire for TextFieldElement"
Hi,

I am not able to figure it out how to fire the `onChange` event for `TextFieldElement` component.

Here is the  [Example](https://codesandbox.io/s/tender-rosalind-5wtuls) I have tried.

Could you please let me know if anything special required.

Thanks for the plugin.

[2022-06-16 01:49] dohomi commented on #52
The TextFieldElement is using onChange for the internal react-hook-form as you can see here: https://github.com/dohomi/react-hook-form-mui/blob/master/src/TextFieldElement.tsx#L41

If you want to watch changes on the TextFieldElement then just use react-hook-form for this:
[code]

[2022-06-17 12:17] TomFreudenberg opened #54 "Update MUI LAB .86 and X-DATE-PICKERS"
Dear @dohomi

thanks again for working on that library and doing the updates !

Would you like to get a PR or would you able to update to the latest MUI Lab 5.0.0-alpha.86

They have moved the date-pickers now into the separated libs: "@mui/x-date-pickers": "5.0.0-alpha.6"

Check out: https://mui.com/blog/lab-date-pickers-to-mui-x/

After just exchanging the imports it worked in our production env

[2022-06-17 12:20] TomFreudenberg commented on #54
Current releases are:

[code]

Take care in mind, that NPM will not find the updates for "-alpha", you need to adjust them manual

[2022-06-18 03:23] dohomi commented on #54
@TomFreudenberg I've seen the changes of the pickers, there were some typing issues before I definitely will check your PR, hopefully they fixed them. I also consider to provide a convenient form container which includes the DatePickerProvider to reduce imports on the user end

[2022-06-22 17:31] keslavi opened #57 "add support for resolvers"
very impressive work!    How would you go about adding resolvers, such as yup or joi, into this?

I've done something similar in another project but didn't publish as it's own npm package, appreciate what you've done in here!

[2022-06-23 01:36] dohomi commented on #57
@keslavi this library lets you initiate your form without any magic, just follow react-hook-form guide and choose yup/joi or any other resolver.

Every component either lets you pass in `control` or you can use the `FormProvider`.

[2022-06-23 03:46] dohomi commented on #57
@keslavi `v3.8.0` adds the `resolver` prop to the component `FormContainer`

[2022-06-23 03:46] #57 closed

[2022-06-23 03:47] dohomi commented on #54
Solved in latest release

[2022-06-23 03:47] #54 closed

[2022-06-24 13:22] CristhianParra opened #58 "DateTimePicker support"
Add support for DateTimePicker,

I think is possible to use the same implementation of DatePicker :)

[2022-06-26 08:36] ChromeGG opened #59 "List of improvments"
Hello

I'm currently waiting for my new MacBook, so I don't want to start any big project. I could help develop this open-source project :smile:

So we can start with simple things to the more advance.

1. Move the changelog to a separate file.
2. Add some badges
![image](https://user-images.githubusercontent.com/39050595/175806165-b69ca9d9-ac7e-4021-8380-8340d97570db.png)
3. Create a logo (logo R

[2022-06-26 08:39] ChromeGG opened #60 "Add CHANGELOG.md file"
We move the [backlog history](https://github.com/dohomi/react-hook-form-mui#backlog-history) section to a separate file.

The schema of CHANGELOG.md could be the same as the schema of [RHF changelog](https://github.com/react-hook-form/react-hook-form/blob/master/CHANGELOG.md)

[2022-06-26 11:26] ChromeGG commented on #60
I noticed that you're using these [releases](https://github.com/dohomi/react-hook-form-mui/releases), so I abandoned adding CHANGELOG.md. We can add this in the future.

[2022-06-26 11:26] #60 closed

[2022-06-27 03:42] dohomi commented on #59
@ChromeGG great I agree to all of your proposals.

[2022-06-27 03:43] dohomi commented on #58
@CristhianParra I will try to cover them over the next time. Feel free to open a PR in the mean time, if you need support of it now

[2022-06-28 04:16] dohomi commented on #59
Autocomplete support is available from `3.9.0`.

[2022-06-28 04:16] dohomi commented on #9
This feature finally landed in version `3.9.0`

[2022-06-28 04:16] #9 closed

[2022-06-28 04:18] dohomi commented on #59
@ChromeGG I think most importantly Storybook should be updated/improved for better documentation. Is there a plugin out which can show all properties a component supports?

[2022-06-28 07:53] dohomi commented on #9
@bryantobing12 a simple way to solve with with the current version (example with apollo-client hook).

[code]

[2022-06-28 17:18] ChromeGG commented on #59
I have no idea, TBH I'm not soo familiar with Storybook. To be more descriptive on Storybook, we can use `.mdx` files. Unfortunately, I'm very busy this weekend. I can make some research next week.

[2022-06-30 21:35] simonmaquilon commented on #58
Is possible, I solved doing this:

1. Install these libraries:
    "@mui/lab"
    "@mui/x-date-pickers"

2. Replace **this import** in:  _node_modules\@mui\x-date-pickers\DatePicker\DatePicker.d.ts_
// import { ParseableDate } from '@mui/lab/internal/pickers/constants/prop-types';
import { ParseableDate } from '@mui/x-date-pickers/internals/models/parseableDate';

3. Use this code at your requirem

[2022-07-04 20:46] adityatyagi opened #65 "Autocomplete not returning complete object but only returns "id""
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

According to [this](https://codesandbox.io/s/mui-autocomplete-with-react-hook-form-qedgr?file=/src/Countries.js:1116-1128) codesandbox, we are able to return complete object as value for autocomplete, using:
[code]

The current implementation of autocomplet

[2022-07-04 21:49] michaelreaton opened #66 "Default labelkey and options prop type definitons for SelectElement do not match"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

must specify labelkey='title' on SelectElement if I use the { id: string | number, title: string | number }[] type defined for options

### Expected behavior 🤔

default labelkey should match the options prop definition for SelectElement

[2022-07-05 03:57] dohomi commented on #65
@adityatyagi you have the full object with your own onChange handler:
[code]
I am happy to review any PR if you want to add additional features into the AutocompleElement

[2022-07-05 04:01] dohomi commented on #66
Fixed with latest release

[2022-07-05 04:01] #66 closed

[2022-07-05 04:11] #65 closed

[2022-07-06 20:37] #59 closed

[2022-07-06 20:49] ChromeGG opened #67 "Add Storybook Storysource Addon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

As a developer, I want to see the code directly from the storybook.

### Examples 🌈

We can use this addon:
https://storybook.js.org/addons/@storybook/addon-storysource

I can do it on Sunday or next week 😄

[2022-07-06 20:54] ChromeGG opened #68 "Start using `.mdx` files to be more descriptive in stories"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

MDX is a more robust format for documentation. With this, we can easily describe what the component does and add a link to MUI/RHF documentation.

### Examples 🌈

See:
https://storybook.js.org/docs/react/writing-docs/mdx

I can do it on Sunday or next week 😄

[2022-07-07 01:29] dohomi commented on #68
sounds great! I'll try to join next week this week is very busy for me

[2022-07-07 18:39] szado opened #69 "i18n support"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Thanks for this helpful library.
It would be great if it was possible to translate the standard error messages for validation rules (`required` and for `email` field type). Currently it can be done only with passing own validation config object to all component inst

[2022-07-07 19:33] ChromeGG opened #70 "Reformat repo using eslint rools"
Currently, eslint is throwing a lot of obvious errors like:
![image](https://user-images.githubusercontent.com/39050595/177855808-15393d92-6a15-4723-a9af-4246dc6d1655.png)

They're easy to fix (most of them are auto-fixable). But the diff will be huuuuge. That's why I want it in a separate issue.

So on this ticket, I'll:
1. Add sonarJS plugin for eslint.
2. Fix all eslint errors.
3. (Optionally)

[2022-07-08 02:02] dohomi commented on #70
@ChromeGG feel free to open a PR with different eslint settings.

[2022-07-10 01:13] chabErch opened #71 "Custom error text for TextFieldElement"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hi ❤️!
I Can't find how to set custom text error for `TextFieldElement`. Is it possible?

### Examples 🌈

_No response_

[2022-07-10 01:24] chabErch commented on #71
Oh, I've found it)

![image](https://user-images.githubusercontent.com/24554619/178127769-085e15f2-e5b7-4e34-ac52-de09abc5bd5b.png)

[2022-07-10 01:24] #71 closed

[2022-07-10 15:04] ChromeGG commented on #68
@dohomi  I did some progress with transforming `.tsx` stories to `.mdx` stories. You can track progress #72

![image](https://user-images.githubusercontent.com/39050595/178149715-29b44a49-1e4f-4ab2-a707-9240ff8d6a9c.png)

Btw. I found sth interesting. You were asking about this. There are two plugins that could help us. Take a look [here](https://storybook.js.org/docs/react/api/argtypes#automatic-

[2022-07-12 20:30] RhysOnlyBetter opened #73 "Styled components application"
I'm trying to apply styles to both the SelectElement and MultiSelectElement components, and I've noticed that in multiselects, the root styles are applied to the .MuiInputBase-root rather than the .MuiFormControl-root with the select component. This means that it's difficult to apply styling to the label since it's not a decedent.

I've made a codesandbox with what I'm trying to achieve here: http

[2022-07-12 23:16] dohomi commented on #73
@RhysOnlyBetter you can also provide `sx` props. This package is not doing anything specific in terms of styling the MUI components, so you might better check inside of the MUI website for answers. Otherwise you can also play around with the AutocompleteElement which has a multiple option as well

[2022-07-15 01:06] dohomi commented on #73
I am happy to review a PR. The best would be most likely to add a new prop `formControl` to forward any props for that element.

[2022-07-15 16:40] F1r3Hydr4nt opened #74 "Custom 'required' for simple SelectElement (+ MultiSelectElement on storybook broken)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I suspected that the rules={...} prop would work for the SelectElement but it does not seem to?

There is no example for a custom 'required' on the [storybook](https://react-hook-form-material-ui.vercel.app/?path=/docs/selectelement--required), and the MultiSelectEl

[2022-07-15 17:28] sivavj opened #75 "cannot call api"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

in autocomplete element cannot call api values.

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

[2022-07-16 02:04] dohomi commented on #75
I don't know what you are looking for. Can you show it with a codegen?

[2022-07-16 02:09] dohomi commented on #74
@F1r3Hydr4nt what do you mean by "custom required"? You usually just set the required prop to true and thats all you need to do

otherwise you can provide a `validation` object which is an alias for `rules`.

To reset a form have a look at the reset button:
https://github.com/dohomi/react-hook-form-mui/blob/master/src/ResetFormButton.tsx

[2022-07-16 11:23] F1r3Hydr4nt commented on #74
Great thanks, I didn't see anything about that validation object in the docs.

Another thing I note is the autocomplete lacks an onChange, will open a PR shortly if I overcome it.

Thank you again

[2022-07-16 11:23] #74 closed

[2022-07-18 13:09] F1r3Hydr4nt commented on #74
Turns out you can give the AutoCompleteElement an onChange callback via the autocompleteProps:{onChange:(e)=>{console.log('onChange',e)}} argument, please forgive me

[2022-07-18 20:25] F1r3Hydr4nt commented on #74
@dohomi Hello again, is it possible to get a handle on the form 'reset' function outside of the FormContainer context?

An autocomplete selection drives the options of a second select component, and once a change is made in the first, the second's selection needs to be cleared.

[2022-07-19 00:05] dohomi commented on #74
@F1r3Hydr4nt you can have a submit button and use the `<button form="yourFormId>"` and add `yourFormId` as an id to your form.

[2022-07-19 11:12] F1r3Hydr4nt commented on #74
Is there an example of this anywhere? I note that the FormContainer can be passed a formContext, which I assume would reveal handles for all of the react-hook-form methods outside of it.

[2022-07-19 11:21] F1r3Hydr4nt commented on #74
[Aha](https://github.com/dohomi/react-hook-form-mui/blob/af5884deafd0410dbfff685211bc88773af8fb0e/stories/FormContainer.stories.tsx#L45), never mind. Thanks

[2022-07-19 13:02] F1r3Hydr4nt commented on #74
It seems that de-connects the error hooks and other things unfortunately,  gonna just check if the components can work without the FormContainer

[2022-07-19 15:24] dohomi commented on #74
you can totally work without the FormContainer if you need more specific functionality. I personally use the FormContainer only for simple forms like login / register. As soon I need more deeper logic of the form context I just wire up the form tag myself and use `control` prop on all form components

[2022-07-21 05:18] BernardMasika opened #76 "form reset after submit"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [ ] I have tested the latest version

### Summary 💡

that after submit event is detected, a form should empty all its fields.

### Examples 🌈

[code]

[2022-07-21 06:23] dohomi commented on #76
If you are handling the form by your self you can call reset when ever you like.

Here is an example in Storybook: **https://github.com/dohomi/react-hook-form-mui/blob/master/stories/FormContainer.stories.tsx#L45**

[2022-07-21 18:31] BernardMasika commented on #76
still cannot reset, even after following the example above closely, below is my code!

[code]
still facing the following error..

![image](https://user-images.githubusercontent.com/50598183/180287292-d134a6e4-24f2-4d13-91dd-56174f4735f7.png)

i am failing to know why the reference issue!

many thanks!

[2022-07-25 13:07] wxsolo opened #78 "proposal-nullish-coalescing-operator compile error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

when I add loaders  plugins  @babel/plugin-proposal-nullish-coalescing-operator

[code]

but has this error

[code]

### Expected behavior 🤔

how to fix this "proposal-nullish-coalescing-operator" error

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

[2022-07-27 09:23] BernardMasika commented on #76
figured out the issue after few days!,

the implementation above and in the referred example is based on typescript! so i removed the type on useForm hook and reset the form as shown below.

[code]

[2022-07-27 09:23] #76 closed

[2022-07-27 18:46] samuelcastro opened #79 "[ERROR] Could not resolve "@mui/x-date-pickers/DatePicker""
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Getting the following error when building the application:

[code]

### Expected behavior 🤔

No errors

### Steps to reproduce 🕹

Steps:

1. Install the library
2. Build the project

[2022-07-28 03:50] dohomi commented on #79
please check your npm log, you are missing peerDependencies which needs to be installed on your side. @mui/x-date-pickers is one of them if you are using datepickers

[2022-07-28 03:50] #79 closed

[2022-07-28 04:04] dohomi commented on #78
@wxsolo this never been an issue before and not everyone seems to use that particular babel plugin. Pleases provide a PR which fixes the issue thanks

[2022-07-28 04:04] dohomi commented on #78
@wxsolo this never been an issue before and not everyone seems to use that particular babel plugin. Pleases provide a PR which fixes the issue thanks

[2022-07-29 06:13] Feng94 commented on #18
Thanks so much, this was so easy and fixed my issue too!

[2022-08-01 02:22] dohomi commented on #18
you might could just use the `FormProps` to add the onKeyDown to the <form> tag. But this hasn't been tested just an idea.

[2022-08-01 18:03] rtritto opened #81 "Clean `peerDependencies`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]

### Possible Fix
- `@mui/icons-material` and `@mui/x-date-pickers` dependencies should be added as _peerDependenciesMeta_ in _package.json_:
[code]

- `typescript` is already in _devDependencies_, it's really used or it should be removed from _peerD

[2022-08-01 21:19] kaitlyn-lighthouse opened #82 "InputProps on Autocomplete don't do anything"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I pass `startAdornment` and `endAdornment` as `InputProps` to the `AutocompleteElement` as follows. All my other props here come from variables.

[code]
These `InputProps` are not applied:
<img width="380" alt="Screen Shot 2022-08-01 at 5 02 57 PM" src="htt

[2022-08-03 01:17] #82 closed

[2022-08-03 01:18] #81 closed

[2022-08-03 11:23] #73 closed

[2022-08-08 15:38] kaitlyn-lighthouse opened #85 "Autocomplete ignores `renderOption` prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If I pass the `renderOption` prop to the `autocompleteProps` of the AutocompleteElement, it is completely ignored.

### Expected behavior 🤔

Passing the `renderOption` prop should override any other logic for rendering options.

### Steps to reproduce 🕹

_N

[2022-08-09 00:32] dohomi commented on #85
Resolved in 5.3.2

[2022-08-09 00:32] #85 closed

[2022-08-10 09:27] paales opened #86 "Use split bundle to reduce dependency requirements"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently the build version is using a single compiled file which makes the requirement on @mui/icons-material and @mui/x-date-pickers a requirement. The package.json indicates that they are meant to be optional: https://github.com/dohomi/react-hook-form-mui/blob/ma

[2022-08-10 14:43] jacokok opened #87 "new Slider component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I created my own slider component that I am using. Can I create a pull request to include this slider component upstream?

### Examples 🌈

[code]

[2022-08-10 20:06] jacokok commented on #87
Added new pull request to back my request.

https://github.com/dohomi/react-hook-form-mui/pull/88

[2022-08-11 23:46] dohomi commented on #86
This package is using `tsup` under the hood, I thought this should take care of the code split?

[2022-08-12 09:15] slaat opened #89 ""TypeError: Cannot read properties of null (reading 'control')" when using useWatch"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

There is an example in the storybook page for the useWatch method on how to listen to form field changes (`stories/FormContainer.stories.tsx`). When I try using it in the nextjs example. I am getting an Error:

[code]

This error only appears when refreshin

[2022-08-14 03:52] dohomi commented on #89
Do you use the hook inside of the FormContainer as a sub-component?

[2022-08-15 06:42] slaat commented on #89
Yes. Yo can check out the „how to reproduce“ to see what the code would look like

[2022-08-16 06:14] jacokok commented on #87
Component added https://github.com/dohomi/react-hook-form-mui/pull/88

[2022-08-16 06:14] #87 closed

[2022-08-16 06:27] dohomi commented on #89
I can't reproduce the issue on **https://react-hook-form-material-ui.vercel.app/?path=/story/formcontainer--basic**

[2022-08-16 14:50] dohomi commented on #89
I use NextJS in all my projects and never experienced it. But mostly I am using strict typing approach used here:
https://github.com/dohomi/react-hook-form-mui/blob/master/stories/FormContainer.stories.tsx#L88

[2022-08-18 01:18] #58 closed

[2022-08-18 01:34] #52 closed

[2022-08-18 17:10] slaat commented on #89
I am quite busy at the moment, I will take a close look soon so we can figure this one out together

[2022-08-24 18:57] sjdemartini commented on #78
I tried installing and using this package within my app that used `create-react-app` but ran into the same `Failed to compile` error as the above, so I'm unable to use the package. That nullish coalescing operator babel plugin is used by default in CRA (see [here](https://github.com/facebook/create-react-app/blob/221e511730ca51c036c6954a9d2ee7659ff860f9/packages/babel-preset-react-app/package.json

[2022-08-26 10:05] paales commented on #86
I don't think we need to bundle the packages as that creates a single large bundle that includes everything and causes problems with treeshaking.

Was looking at the following guides:

https://cmdcolin.github.io/posts/2022-05-27-youmaynotneedabundler
https://devblogs.microsoft.com/typescript/announcing-typescript-4-7/#package-json-exports-imports-and-self-referencing

And I seem to be able to achi

[2022-08-29 04:58] dohomi commented on #86
@paales I restructured the repo to run as a mono repo. With this I had a better overview in what is actually been bundled and how the footprint of for example NextJS with a minimal form looks like. The analyzer shows that there is nothing to complain about, only the components are bundled which are actually in use.

I think the esbuild too only bundles what is actually used.

[2022-08-29 06:25] dohomi commented on #89
@slaat I finally had the time to restructure the repo and now I have a better testing environment for both Storybook and NextJS.
The new version `5.6.0` re-exports the API of `react-hook-form`.
Now you can use the `useWatch` hook from `react-hook-form-mui` and the context issue is resolved.
 **https://github.com/dohomi/react-hook-form-mui/blob/master/apps/nextjs/src/pages/withSub.tsx#L5**

[2022-08-29 06:25] #89 closed

[2022-08-29 06:28] dohomi commented on #75
Closing it as there hasn't been any update on a detailed description

[2022-08-29 06:28] #75 closed

[2022-08-29 08:06] paales commented on #86
Hi @dohomi!

Could you help me figure things out? We're trying to use the package but we're not using `@mui/x-date-pickers`, but at the moment everything is bundled in a single file which causes issues.

If you go to https://www.npmjs.com/package/react-hook-form-mui and click on _Explore_ you can see that it is bundled.

When using it in our nextjs installation we get the issue that it is missing

[2022-08-29 08:24] dohomi commented on #86
@paales what framework on top of React are you using? CRA or NextJS? Did you have a look at the https://github.com/dohomi/react-hook-form-mui/tree/master/apps/nextjs where I dont use @mui/x-date-pickers and it is also not part of the bundle. This is a real world scenario and it should work for you the same (if you use NextJS)

[2022-08-29 08:24] slaat commented on #89
awesome, thank you!!

[2022-08-29 09:06] paales commented on #86
Ok, I'll have to get back to you :)

[2022-09-07 19:01] skopz356 opened #91 "DatePickerElement bugged when entering the date by keyboard"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

First of all thank you for creating this amazing library!

My problem is when I try to write the date by my choice into DatePickerElement by keyboard. The input acts weird, the video shows example when I try to enter date 01/05/2000. I think that the main r

[2022-09-07 19:46] paales commented on #86
@dohomi Found some time to take a deeper look. I'm getting the following error currently:

[code]

[2022-09-07 19:47] paales commented on #86
Also, when copying the files I get the following bundlesize increase (expected):

https://github.com/graphcommerce-org/graphcommerce/pull/1579#issuecomment-1239788897

When using the library as is (with the missing dependencies installed) I'm getting the following bundlesize:

https://github.com/graphcommerce-org/graphcommerce/pull/1579#issuecomment-1239801390

[2022-09-09 06:46] dohomi commented on #91
I am currently not able to look into it. But I am happy to check any PR over the weekend

[2022-09-09 06:49] dohomi commented on #86
@paales I am currently busy with work, can you provide a PR to fix the current behaviour? Otherwise Ill look into it as soon I get some time. I personally never used this library without the DatePicker thats why I probably never encountered the issue.

[2022-09-15 13:16] paales opened #92 "TextFieldElement doesn't allow defaultValue to be set."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

We should probably expose the defaultValue from the ControllerProps instead of the one from the TextInput and apply it to the Controller

[code]

If you don't get around to it, I'll try and create a PR.

### Examples 🌈

_No response_

[2022-09-16 01:50] #92 closed

[2022-09-16 12:49] paales commented on #92
@dohomi react-hook-form supports this natively, see Controller docs: https://react-hook-form.com/api/usecontroller/controller

We're build a product add to cart form:

- We call useForm at a high level and create a context for it.
- In a different part of the system we add fields that is dependent on the product type that is being loaded: `<BundleProductOptions/>` / `<ConfigurableProductOptions/>`

[2022-09-16 13:37] dohomi commented on #92
@paales yes thats what the defaultValues of `useForm` are doing. If you check the Storybook you see that you can set the defaultValues on the form hook. It sets the defaultValue on each controller of each field.
https://react-hook-form-material-ui.vercel.app/?path=/story/textfieldelement--pre-defined

Or am I misunderstanding something? You'd set on the useForm hook the default values and it shoul

[2022-09-16 14:42] paales commented on #92
@dohomi I'll try and create a PR, I think it is a fairly small change :)

[2022-09-18 13:36] ChromeGG opened #93 "Broken components name in storybook"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

All components in the storybook have broken names:
![image](https://user-images.githubusercontent.com/39050595/190904962-d5623d84-eb06-4695-ba9d-6372679c626f.png)

### Expected behavior 🤔

Components name should be visible

### Steps to reproduce 🕹

Steps:

[2022-09-19 01:06] dohomi commented on #93
that is very strange.. https://github.com/dohomi/react-hook-form-mui/blob/master/apps/storybook/stories/AutocompleteElement.stories.tsx the source code for sure uses full names, it seems to be some internal Storybook where they use short names for all the docs.. I need to see how to change it

[2022-10-06 14:12] jamiedruce commented on #78
Anyone figure out a solution/workaround to this? Have the same problem as @sjdemartini in that we use CRA and get this error thrown.

Gone down a rabbit hole of Github issues with browser targeting tweaks etc but nothing seems to resolve it.

[2022-10-07 02:10] dohomi commented on #78
A repo which reproduce this issue would help. I am using this repo in 5+ production repos, all across NextJS, Storybook and Vite with React 17 and 18. Would be great if someone who faces this issue could wire up a reproduction and provide a PR or some insights about it.

[2022-10-07 13:02] jamiedruce commented on #78
FYI i'm looking to reproduce this in isolation. Interestingly I have made a basic codesandbox that works, but when ran locally, generates the error. So might be a local thing.

Will keep digging to see if I can find the root cause and why this package is the one that throws the error.

[2022-10-07 14:09] jamiedruce commented on #78
OK, i've made some progress!

In my instance, i've isolated it to be related to using esbuild with react-scripts v4.0.3, in my testing, it can be resolved by either:
1. Removing esbuild and using default CRA's webpack
2. Upgrading react-scripts to v5.0.1

Proved difficult to reproduce in a sandbox, but seems something was fixed in CRA in the latest version to help with this.

[2022-10-07 14:52] dohomi commented on #78
good to hear, I havent used CRA for long time (all my codebases are usually NextJS, Storybook or ViteJS).. glad it is resolved in latest CRA

[2022-10-23 18:44] benjaminchardin2 opened #94 "Provide a way to disable FormHelperText on SelectElement"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

When using SelectElement if an error is detected a FormHelperText element is automatically displayed.
In my team's project, we wrote a HOC that is in charge of displaying errors, and because of this behavior two FormHelperText are displayed.

Currently, I found a ha

[2022-10-24 00:27] dohomi commented on #94
I'm not thinking that passing an empt error message is a `hacky` way, it is exactly the way how you should handle your use case.

[2022-10-24 05:55] benjaminchardin2 commented on #94
Ok thanks for your help !

I’lol close the issue

[2022-10-24 05:56] #94 closed

[2022-10-26 19:40] FlorianCassayre opened #95 "Support for TimePicker"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

MUI has a [`TimePicker`](https://mui.com/x/react-date-pickers/time-picker/) component, it would be great if this library would support it as well (e.g. `TimePickerElement`).

### Examples 🌈

_No response_

[2022-10-27 00:59] dohomi commented on #95
I'm currently stuck in a project, but happy to review a PR for this component.

[2022-10-27 22:41] Esmio opened #96 "Confused docs"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hello, this is the demo code of Date PIcker Component. I just got confused where does the _ and z come from?

### Examples 🌈

`
<DateFnsProvider>
  <_
    defaultValues={{}}
    onSuccess={function noRefCheck(){}}

    <z
      label="Required Picker"
      name="re

[2022-10-28 00:54] dohomi commented on #96
duplicate of #93

[2022-10-28 00:54] #96 closed

[2022-10-28 00:59] dohomi commented on #93
Finally found the time to fix this issue. All names should be readable in the Storybook

[2022-10-28 00:59] #93 closed

[2022-10-28 01:03] dohomi commented on #86
@paales the increased size is totally expected, don't you think? Also the size seems fair as you are depending now on `react-hook-form` with the `<TextFieldElement>` component. It does not seem to include any size which your are not currently using.

[2022-10-31 09:43] DaRabus opened #97 "Support ZOD as Frontend Validation Schema"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

To support a Frontend Validaiton Service we have to pass the props into the "FormContainer"

https://github.com/colinhacks/zod

If you agree that this could be useful, I will create a PR for you for the integration :)

### Examples 🌈

_No response_

[2022-11-01 00:12] dohomi commented on #97
@DaRabus I use `superstruct` in one of my projects, but for sure `zod` will work in the same way. Feel free to open a PR I currently just don't use `FormContainer` and pass the `control` prop to each element.

[2022-11-01 05:36] DaRabus commented on #97
Thanks for the advice.

I will use it like this, when I'll get some time I may add a PR for properly typing the resolver, so other people see it directly how to pass it :)

My bad i didn't see it directly.

[2022-11-01 05:36] #97 closed

[2022-11-02 00:52] dohomi commented on #97
If I find time I will add an example to the stories where `zod` is used.

[2022-11-02 11:34] raphaelfavier commented on #91
I'm also experiencing the same issue

[2022-11-10 06:09] mg-chao opened #99 "eslint and prettier not working in project?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

When I try to edit the code, eslint or pretter show many errors.
Code should be formatted

### Examples 🌈

[DateTimePickerElement.tsx](https://github.com/dohomi/react-hook-form-mui/blob/master/packages/rhf-mui/src/DatePickerElement.tsx) `indentation of 2 spaces but

[2022-11-15 23:34] shkreios commented on #91
@dohomi @raphaelfavier The problem occurs when using `DatepickerElement` without a `parseDate` function, in which case the `keyboardInputValue` instead of the `value` parameter is passed to the react-hooks-from controller `onChange`.

I can open a pull request if you want to change it to use the value, but I don't know if this is the wanted/expected behavior.
[Reference](https://github.com/dohomi/

[2022-11-16 00:41] dohomi commented on #91
@shkreios PR's are very welcome!

[2022-11-18 07:08] #95 closed

[2022-11-18 07:14] dohomi commented on #91
Hi guys,

I released a v5.10.2 with a new prop to disable text input. I found it very tricky to tackle the date input via keyboard, especially the validation of dates get quite frustrating.

Now you can `textReadOnly` https://github.com/dohomi/react-hook-form-mui/releases/tag/5.10.2

[2022-11-22 10:18] arcanereinz opened #102 "Error focus on submit not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

react-hook-form has a built-in feature that changes focus to the error input field when there's a validation error during submit. This feature is not working with react-hook-form-mui.

### Expected behavior 🤔

When there is a form error the input field that

[2022-11-24 14:09] marcoreni opened #104 "Build fails after update to 5.10.2"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After updating to 5.10.2 build fails unless we install `date-fns`. We're using DatePickerElement but we're using `Dayjs`.

### Expected behavior 🤔

Dayjs should not be required

### Steps to reproduce 🕹

_No response_

[2022-11-25 16:57] mamaniDaniel opened #105 "Add example in StoryBook to set custom validations to sliders."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I was using this library and it was very useful. I don't understand how I could add custom validations to the slider.

It would be good to add an example of how validations can be added even taking values ​​from other parts of the form.

I can add the examples that

[2022-11-28 11:47] dohomi commented on #105
Please have a look at https://react-hook-form-material-ui.vercel.app/?path=/story/slider-element--required

Now you can pass in `rules` or `required` prop to SliderElement from version 5.11.0

[2022-11-28 11:47] #105 closed

[2022-11-28 11:48] dohomi commented on #104
Fixed with v5.11.0

[2022-11-28 11:48] #104 closed

[2022-11-28 11:49] dohomi commented on #86
I'm closing the issue seems to be working as expected.

[2022-11-28 11:49] #86 closed

[2022-11-28 11:50] #70 closed

[2022-11-28 11:51] dohomi commented on #99
I did not see any issue with eslint so far.

[2022-11-28 11:51] #99 closed